XsdToJavaAPIRoot/Common/XsdParser/src/test/resources/mini_test.xsd

<xs:schema
        xmlns="jar://C:/Program Files/JetBrains/IntelliJ IDEA 2017.2.5/lib/idea.jar!/standardSchemas/XMLSchema-1_1/XMLSchema.xsd"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="e1"/>

    <xs:group name="g1">
        <xs:all>
            <xs:element ref="e1"/>
        </xs:all>
    </xs:group>

    <xs:complexType name="c1">
        <xs:group ref="g1"/>
    </xs:complexType>

    <xs:complexType name="c2">
        <xs:group ref="g1"/>
    </xs:complexType>


</xs:schema>
